{% extends "base.html" %}
{% block content %}
	<h1>Action Logs</h1>
	<form method="GET">
		<input type="text" name="action" value="{{ action_filter }}" placeholder="Фильтрация по действию...">
		<button type="submit">Фильтрация</button>
	</form>
	<table>
		<tr>
			<th>ID</th>
			<th>Пользователь</th>
			<th>Действие</th>
			<th>Время</th>
		</tr>
		{% for log in logs %}
		<tr>
			<td>{{ log[0] }}</td>
			<td>{{ log[1] }}</td>
			<td>{{ log[2] }}</td>
			<td>{{ log[3] }}</td>
		</tr>
		{% endfor %}
	</table>
	<a href="{{ url_for('admin_panel') }}" class="button">Назад</a>
{% endblock %}
