{% extends "base.html" %}
{% block content %}
    <h1>Ваши заказы</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Статус</th>
            <th>Итоговая цена</th>
            <th>Создан в</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order[0] }}</td>
            <td>{{ order[1] }}</td>
            <td>{{ order[2] }}</td>
            <td>{{ order[3] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('index') }}">Back</a>
{% endblock %}

