{% extends "base.html" %}
{% block content %}
	<h1>Register</h1>
	<form method="POST">
		<input type="text" name="name" placeholder="Name" required>
		<input type="email" name="email" placeholder="Email" required>
		<input type="password" name="password" placeholder="Password" required>
		<select name="role">
			<option value="customer">Покупатель</option>
			<option value="seller">Продавец</option>
			<option value="courier">Курьер</option>
		</select>
		<input type="submit" value="Register">
	</form>
{% endblock %}

