{% extends "base.html" %}
{% block content %}
	<h1>Ваши заказы</h1>
	<form method="GET">
		<select name="status">
			<option value="">Все</option>
			<option value="pending" {% if status_filter == 'pending' %}selected{% endif %}>В ожидании</option>
			<option value="paid" {% if status_filter == 'paid' %}selected{% endif %}>Оплачен</option>
			<option value="in_delivery" {% if status_filter == 'in_delivery' %}selected{% endif %}>В доставке</option>
			<option value="completed" {% if status_filter == 'completed' %}selected{% endif %}>Выполнен</option>
		</select>
		<button type="submit">Отфильтровать</button>
	</form>
	<table>
		<tr>
			<th>ID</th>
			<th>Статус</th>
			<th>Итоговая цена</th>
			<th>Адрес доставки</th>
			<th>Создан в</th>
			<th>Покупатель</th>
			<th>Товары</th>
		</tr>
		{% for order in orders %}
		<tr>
			<td>{{ order[0] }}</td>
			<td>{{ order[1] }}</td>
			<td>{{ order[2] }}</td>
			<td>{{ order[3] }}</td>
			<td>{{ order[4] }}</td>
			<td>{{ order[5] }}</td>
			<td>{{ order[6]|join(', ') }}</td>
		</tr>
		{% endfor %}
	</table>
	<a href="{{ url_for('seller_profile') }}" class="button">Вернуться</a>
{% endblock %}

